@font-face {
    font-family: 'comic-neue';
    src: url('comicneue/ComicNeue-Bold-Oblique.eot');
    src: url('comicneue/ComicNeue-Bold-Oblique.eot#iefix') format('embedded-opentype'),
         url('comicneue/ComicNeue-Bold-Oblique.woff') format('woff'),
         url('comicneue/ComicNeue-Bold-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
}

html, body {
	margin: 0;
	width: 100%;
    height:100%;
	color: white;
	overflow: hidden;
	font-family: 'comic-neue' !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	background-image: url('hvlag.jpg');
	background-repeat: repeat;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, .5);
	z-index: -1000;
}

.vertical-container {
	display: -webkit-flex;
	display: flex;
  	height: 100vh;
}

.vertically-centered {
	margin: auto;
}

#gfy {
	color: white;
	font-family: 'comic-neue' !important;
}
